footer
    p &copy; AKSW 2014
script(src="//code.jquery.com/jquery-1.11.2.min.js")
script(src="/bower_components/socket.io-client/socket.io.js")
script(src="//d3js.org/d3.v3.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFTmXdujI-gUpg4pz9VW6X_-Hf9FVkDpw", type="text/javascript")
script(src="/javascripts/app/utilities.js")
script(src="/javascripts/vendor/linkify.js")
script(src="/javascripts/vendor/bootstrap-switch.min.js")
script(src="/javascripts/vendor/underscore-1.1.7.js")
script(src="/javascripts/vendor/facetedsearch.js")
script(src="/javascripts/dist/scripts.js")