head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ReSA: Real-time Semantic Analysis ->Twitter Entities Heatmap
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ext.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css')
    link(rel='stylesheet', href="/stylesheets/vendor/bootstrap-switch/bootstrap-switch.min.css")
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="/bower_components/socket.io-client/socket.io.js")
    script(src="//d3js.org/d3.v3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="/javascripts/linkify.js")
    script(src="/javascripts/utilities.js")
    script(src="/javascripts/vendor/bootstrap-switch.min.js")
    script(src="/javascripts/extensions/dist/extensionsHandler.js")
    script(src="/javascripts/visualizations/dist/visualizations.js")
    script(src="/javascripts/extensions/dist/appHandler.js")