head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ReSA: Real-time Semantic Analysis ->Twitter Entities Heatmap
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ext.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css')
    link(rel='stylesheet', href="/stylesheets/vendor/bootstrap-switch/bootstrap-switch.min.css")