doctype html
html
    include sections/head
body
    .navbar.navbar-inverse.navbar-fixed-top
        include sections/nav

    //- Main jumbotron for a primary marketing message or call to action
    .jumbotron
        include sections/top-content
    .container
        //
           Example row of columns
        .row
            #main_content.col-xs-12.col-md-8
                include sections/extensions
                #extension-params
                ul#visualizations.nav.nav-tabs
                #content.tab-content
            .col-xs-6.col-md-4
                include sections/twitter-stream
        hr
    include sections/footer